SRC/Client/Modules/Discovery.Client.SignIn/Connected Services/DataBaseService/DataBaseService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Discovery.Core.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Discovery.Core.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://47.240.12.27:10004/DataBaseService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Discovery.Core.Models" />
  <xs:import schemaLocation="http://47.240.12.27:10004/DataBaseService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Prism.Mvvm" />
  <xs:complexType name="Discoverer">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Prism.Mvvm" base="q1:BindableBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Discovery.Core.Models" minOccurs="0" name="BasicInfo" nillable="true" type="q2:BasicInfo" />
          <xs:element minOccurs="0" name="ContactInfo" nillable="true" type="tns:ContactInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Discoverer" nillable="true" type="tns:Discoverer" />
  <xs:complexType name="ContactInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Prism.Mvvm" base="q3:BindableBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BlogAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="_blogAddress" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactInfo" nillable="true" type="tns:ContactInfo" />
  <xs:complexType name="Post">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.datacontract.org/2004/07/Prism.Mvvm" base="q4:BindableBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AuthorID" type="xs:int" />
          <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreationTime" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Post" nillable="true" type="tns:Post" />
  <xs:complexType name="ArrayOfPost">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Post" nillable="true" type="tns:Post" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPost" nillable="true" type="tns:ArrayOfPost" />
  <xs:complexType name="ArrayOfDiscoverer">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Discoverer" nillable="true" type="tns:Discoverer" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiscoverer" nillable="true" type="tns:ArrayOfDiscoverer" />
</xs:schema>