SRC/Client/Discovery.Core.RelationalModel/Connected Services/DataBaseService/DataBaseService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System.Collections.Generic" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://47.240.12.27:10004/DataBaseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Discovery.Core.Model" />
  <xs:import schemaLocation="http://47.240.12.27:10004/DataBaseService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfKeyValuePairOfDiscovererbooleanU8_PbWge3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfDiscovererbooleanU8_PbWge3" type="tns:KeyValuePairOfDiscovererbooleanU8_PbWge3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfDiscovererbooleanU8_PbWge3" nillable="true" type="tns:ArrayOfKeyValuePairOfDiscovererbooleanU8_PbWge3" />
  <xs:complexType name="KeyValuePairOfDiscovererbooleanU8_PbWge3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Discoverer" Namespace="http://schemas.datacontract.org/2004/07/Discovery.Core.Model" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Discovery.Core.Model" name="key" nillable="true" type="q1:Discoverer" />
      <xs:element name="value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfDiscovererbooleanU8_PbWge3" nillable="true" type="tns:KeyValuePairOfDiscovererbooleanU8_PbWge3" />
  <xs:complexType name="ArrayOfKeyValuePairOfPostbooleanU8_PbWge3">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="KeyValuePairOfPostbooleanU8_PbWge3" type="tns:KeyValuePairOfPostbooleanU8_PbWge3" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfKeyValuePairOfPostbooleanU8_PbWge3" nillable="true" type="tns:ArrayOfKeyValuePairOfPostbooleanU8_PbWge3" />
  <xs:complexType name="KeyValuePairOfPostbooleanU8_PbWge3">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="KeyValuePairOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System.Collections.Generic" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Post" Namespace="http://schemas.datacontract.org/2004/07/Discovery.Core.Model" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Discovery.Core.Model" name="key" nillable="true" type="q2:Post" />
      <xs:element name="value" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="KeyValuePairOfPostbooleanU8_PbWge3" nillable="true" type="tns:KeyValuePairOfPostbooleanU8_PbWge3" />
</xs:schema>